@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));
@theme {
  --color-primary: #6366f1;
  --color-primary-dark: #4f46e5;
}
@import "prismjs/themes/prism-tomorrow.css";
.prose pre {
  @apply rounded-lg p-4 bg-gray-900 text-white overflow-x-auto;
}
.prose code {
  @apply text-sm;
}
* {
  @apply transition-colors duration-200;
}
:root {
  --background: 255 255 255;
  --foreground: 15 23 42;
  --card: 245 245 245;
}

.dark {
  --background: 15 23 42;
  --foreground: 255 255 255;
  --card: 30 41 59;
}
